@font-face {
    font-family: Bookos;
    src: url(./fonts/BOOKOSB.TTF);
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans';
}

.bg-1 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-1 {
  background-image: url("./images/hanoi-to-sapa-bus.jpg");
  min-height: 100%;
  color: #fff;
}

.caption {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
}
.caption h1, .caption p {
	text-shadow: 2px 2px 15px black;
}
.bg-1 .caption h1 {
	margin-top: 150px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
h1 {
	font-weight: bold;
}
.service-intro .service-intro__block {
	margin: 20px 0px;
}
.service-intro img {
	margin: 0 auto;
}
.margin-top-20 {
	margin-top: 20px;
}

.route-info {
	padding: 20px;
}

.logo {
	font-family: Bookos;
	font-size: 50px;
	font-weight: bold;
	margin: 60px auto;
	border-bottom: 1px solid #fff;
}
.item-service {
	min-height: 100px;
	display: flex;
	justify-content: center;
}
.item-service img {
	max-height: 100px;
}
.blog-info img {
	height: 175px;
	width: 100%;
	object-fit: cover;
}
footer {
	margin-top: 50px;
	height: 40px;
	background-color: #ddd;
}
footer p {
	line-height: 40px;
	margin-bottom: 0px;
}
.owl-carousel .item img {
	height: 200px;
}
.caption .btn-danger {
	margin-top: 20px;
}

#chat-now-whatsapp {
	width: 48px;
	height: 48px;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00e676; /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.navbar {
  	margin-bottom: 0;
  	background-color: transparent;
  	z-index: 9999;
  	border: 0;
  	border-radius: 0;
}

.homestay-name {
	font-size: 16px;
	text-decoration: none;
	color: #333333;
}

@media screen and (min-width: 768px) {
	.bg-1 .caption h1 {
		margin-top: 140px;
	}
	.bg-1 .caption p {
		font-size: 20px;
		margin-top: 20px;
	}
	.route-info {
		padding: 20px 40px;
	}
	.about-service {
		padding: 20px 200px;
	}
}