.home-banner {
    position: relative;
}
.home-banner .slide-show {
    position: relative;
    width: 100vw;
    height: 80vh;
}
.home-banner .slide-show .slide-show__item {
    position: absolute;
}
.home-banner .slide-show img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}
.home-banner .quick-search {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 80vh;
    color: #fff;
}
.home-banner .quick-search {
    width: 100%;
    padding: 0px 15px;
    width: 320px;
}
.home-banner .solugan h1 {
    font-size: 18px;
}
.home-banner .solugan h2 {
    text-transform: uppercase;
    font-size: 34px;
}
.home-banner .form {
    margin-top: 15px;
    width: 100%;
}
.home-banner .form input {
    font-size: 13px;
    border-radius: 0px;
    height: 50px;
    border: none;
}
.home-banner .form button {
    margin-top: 10px;
    border-radius: 0px;
    height: 50px;
    padding: 5px 35px;
}
@media screen and (min-width: 375px) {
    .home-banner .quick-search {
        width: 375px;
    }
}
@media screen and (min-width: 425px) {
    .home-banner .quick-search {
        width: 425px;
    }
}
@media screen and (min-width: 768px) {
    .home-banner .solugan h1 {
        font-size: 18px;
    }
    .home-banner .solugan h2 {
        font-size: 50px;
        font-weight: bold;
    }
    .home-banner .quick-search {
        width: 650px;
    }
    .home-banner .form button {
        margin-top: 0px;
    }
}

/*//==================================*/
.home-title {
    padding: 30px 0px;
}
.home-title .title {
    font-size: 24px;
    font-weight: 700;
}
.home-title .description {
    color: #8D9199;
    font-size: 15px;
}
@media screen and (min-width: 768px) {
    .home-title .title {
        font-size: 36px;
    }
}

/*//==================================*/
.home-destinations .list__item {
    width: 100%;
    height: 300px;
    background-color: #ccc;
    border-radius: 6px;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 30px;
    transition: 0.1s all;
}
.home-destinations .list__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
    transition: 0.1s all;
}
.home-destinations .list__item span {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

/*//====================================*/
.home-best-trips {

}
.home-best-trips .link-best-trip__item {
    text-decoration: none;
    color: #000;
}
.home-best-trips .best-trip__item {
    margin-bottom: 30px;
    transition: 0.2s all;
}
.home-best-trips .best-trip__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);
    transition: 0.2s all;
}
.home-best-trips .best-trip__item .image {
    background-color: #ccc;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.home-best-trips .best-trip__item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.home-best-trips .info-trip {
    border: 1px solid #ccc;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 15px;
    min-height: 140px;
}
.home-best-trips .info-trip .price {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
    margin-left: 5px;
}
.home-best-trips .info-trip .address {
    color: #888888;
}
.home-best-trips .info-trip .name {
    font-size: 18px;
    font-weight: bold;
}
