#td-mobile-nav {
  background: #000;
  padding: 0;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 9999;
  visibility: hidden;
  transform: translate3d(-99%, 0, 0);
  background: #02a676;
  color: #fff;
  left: -1%;
}

.td-js-loaded #td-mobile-nav {
  visibility: visible;
  transition: transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

/*close modal*/
.td-mobile-close {
  right: 0px;
  top: 0;
  z-index: 1000;
}
.td-mobile-close i {
  font-size: 30px;
  padding: 10px 10px;
}

.td-menu-mob-open-menu #td-mobile-nav {
  height: 100vh;
  overflow: scroll;
  transform: translate3d(0, 0, 0);
  left: 0;
  position: fixed;
}

#td-outer-wrap {
  overflow: hidden;
  z-index:1;
}
@media (max-width: 992px) {
  #td-outer-wrap {
    margin: auto;
    width: 100%;
    transition: transform 0.7s ease;
    transform-origin: 50% 200px 0;
  }
}
.td-menu-mob-open-menu #td-outer-wrap {
  transform: scale3d(0.9, 0.9, 0.9);
  box-shadow: 0 0 46px #000000;
}


.td-js-loaded .td-search-background{
  visibility: visible;
  transition: transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
.td-search-background {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  background: #02a676;
  color: #fff;
  z-index: 9999;
  transform: translate3d(100%, 0, 0);
  visibility: hidden;
}

.td-search-opened .td-search-background {
  height: 100vh;
  overflow: scroll;
  position: fixed;
  transform: translate3d(0, 0, 0);
}

.td-search-close,
.td-mobile-close {
  text-align: right;
  z-index: 1000;
}
.td-search-close i,
.td-mobile-close i {
    font-size: 30px;
    padding: 10px 10px;
}

.td-search-opened {
  position: relative;
}

.td-search-opened #td-outer-wrap {
  transform: scale3d(0.9, 0.9, 0.9);
  box-shadow: 0 0 46px;
}

.overflow-hidden {
  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal
}

#searchInput {
    background: #019066;
    border-color: #019066;
    color: #fff;
}
#searchInput:active,
#searchInput:focus {
    outline: none;
    box-shadow: none;
}
#searchInput::placeholder {
    color: #ddddddc7;
}
