body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: normal !important;
    background-color: #f8f8f8 !important;
}

/* HEDER TOP NAVIGATION */
.drawer--navbarTopGutter {
    padding-top: 0px;
}
.header-top-navigation {
    background-color: transparent;
}
.header-top-navigation .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-top-navigation .drawer-brand {
    color: #fff;
}
.header-top-navigation .drawer-menu-item {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.header-top-navigation .drawer-navbar {
    border-bottom: none;
    background-color: transparent;
}
.header-top-navigation .drawer-navbar .drawer-nav,
.drawer-navbar .drawer-navbar-header {
    background-color: transparent;
}












