.home-banner {
    position: relative;
    margin-top: 51px;
}
.home-banner .slide-show {
    position: relative;
    width: 100vw;
    height: 400px;
}
.home-banner .slide-show .slide-show__item {
    position: absolute;
}
.home-banner .slide-show img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}
.home-banner .quick-search {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 400px;
    color: #fff;
}
.home-banner .quick-search {
    width: 100%;
    padding: 0px 15px;
    width: 320px;
}
.home-banner .solugan .main-solugan {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    margin-bottom: 10px;
}
.home-banner .solugan .sub-solugan {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.home-banner .form {
    margin-top: 15px;
    width: 100%;
}
.home-banner .form input {
    font-size: 16px;
    border-radius: 2px 0px 0px 2px;
    height: 50px;
    border: 1px solid #fff;
    background-color: #fff;
}
/*.home-banner .form input:hover {
    border: 1px solid #01b07d;
}*/
.home-banner .form button {
    background-color: #01b07d;
    border-color: #01b07d;
    border-radius: 0px 2px 2px 0px;
    height: 50px;
    padding: 5px 20px;
}
@media  screen and (min-width: 375px) {
    .home-banner .quick-search {
        width: 375px;
    }
}
@media  screen and (min-width: 425px) {
    .home-banner .quick-search {
        width: 425px;
    }
}
@media  screen and (min-width: 768px) {
    .home-banner .solugan .main-solugan {
        font-size: 30px;
        font-weight: bold;
    }
    .home-banner .solugan .sub-solugan {
        font-size: 20px;
    }
    .home-banner .solugan h1 {
        font-size: 18px;
    }
    .home-banner .solugan h2 {
        font-size: 42px;
        font-weight: bold;
    }
    .home-banner .quick-search {
        width: 850px;
    }
    .home-banner .form button {
        padding: 5px 35px;
    }
}

/*//==================================*/
.home-title {
    /*padding: 25px 0px 23px 10px;*/
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.home-title .title {
    font-size: 22px;
    font-weight: 700;
    color: rgb(72, 72, 72) !important;
}
.home-title .description {
    color: #8D9199;
    font-size: 15px;
}
@media  screen and (min-width: 768px) {
    .home-title .title {
        font-size: 26px;
    }
}

/*//==================================*/
.home-destinations {
    margin-top: 40px;
}
.home-destinations .list__item {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    border-radius: 3px;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 30px;
    transition: 0.1s all;
}
.place-description {
    display: none;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: height 0.2s ease-out;
    transition: height 0.2s ease-out;
}
.home-destinations .list__item .place-caption {
    transition: all 0.3s ease-out;
}
.home-destinations .list__item:hover .place-caption {
    height: 200px;
    background-image: linear-gradient(#00000075, #0000009e);
    /*transform: translateY(-20px);*/
    /*box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);*/
    /*transition: 1s all;*/
    transition: all 0.3s ease-out;
}
.home-destinations .list__item:hover .place-caption .place-description {
    display: block;
    transition: all 0.3s ease-out;
}
.home-destinations .list__item .place-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 57px;
    padding: 20px 10px 10px 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(transparent, #00000075);
}

/*//====================================*/
.home-best-trips {
    background-color: #f2f2f2;
}
.home-best-trips .link-best-trip__item {
    text-decoration: none;
    color: #000;
}
.home-best-trips .best-trip__item {
    /*box-shadow: 0px 0px 1px rgba(0,0,0,.4);*/
    margin-bottom: 30px;
    transition: 0.2s all;
    border-radius: 5px;
    margin: 14px 7px;
}
.home-best-trips .best-trip__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
}
.home-best-trips .best-trip__item .image {
    background-color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 160px;
}
.home-best-trips .best-trip__item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.home-best-trips .info-trip {
    padding: 8px 10px;
    /*box-shadow: 0px 0px 1px rgba(0,0,0,.4);*/
    border-radius: 3px;
    background-color: #fff;
}
.home-best-trips .info-trip .price {
    font-size: 14px;
    font-weight: bold;
    color: #28a745;
    margin-left: 5px;
}
.home-best-trips .info-trip .address {
    color: #888888;
    margin-right: 10px;
}
.home-best-trips .info-trip .name {
    font-size: 13px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    letter-spacing: 0.02rem;
    text-align: justify;
    min-height: 45px;
}
#button-addon1 {
    background: #ffffffd1;
}
.search-box {
    position: relative;
}
.search-box .form-control:focus {
    box-shadow: none;
}
.box-suggest {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border: none;
    border-radius: 2px 2px 0 0;
    border-top: 1px solid #01b07d;
}
.box-suggest .tab-content {
    padding-top: 15px;
    padding-right: 10px;
}
.box-suggest .nav {
    min-height: 300px;
    height: 100%;
    background-color: #01b07d;
}
.box-suggest ul li {
    padding: 15px 10px;
    font-size: 15px;
}
.box-suggest ul li.active {
    background-color: #fff;
}
.box-suggest ul li.active a {
    color: #01b07d;
}
.box-suggest ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.suggest__list-place .box-image {
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.15);
    background-blend-mode: overlay;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 80px;
}
.suggest__list-place .hot-service-list a {
    text-decoration: none;
    color: rgb(33, 37, 41);
}
.suggest__list-place .hot-service-list a:hover {
    color: #4db2ec;
}
.suggest__list-place .hot-service-list .box-image {
    margin-bottom: 5px;
}
.suggest__list-place .hot-service-list {
    font-weight: 600;
    padding: 0 8px;
    margin-bottom: 10px;
}
.suggest__list-place .box-image a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    text-shadow: 1px 1px 0px rgba(0,0,0,.4);
}
.suggest__list-place .box-hover:hover a:before {
    opacity: 0.4;
}
.suggest__list-place .box-hover a:before {
    content: '';
    width: 76%;
    height: 85%;
    border: 1px solid #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.typeahead.dropdown-menu {
    width: 100%;
}
.typeahead .dropdown-item {
    text-transform: capitalize;
}


/*// HOME RESORTS*/
.home-resorts {
    background-color: #f2f2f2;
    padding-bottom: 25px;
    padding-top: 5px;
}
.home-resorts .resorts-description {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.home-resorts .resorts-description p {
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(72, 72, 72) !important;
}
.home-resorts .resorts-description .title {
    font-size: 16px;
    color: rgb(72, 72, 72) !important;
    font-weight: 300;
}
.home-resorts .resorts-description .view-more {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #02A676 !important;
}
